.mobile-call {
  width: 100vw;
  height: 100vh;
  background: black;
  position: relative;
}

.remote {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.local {
  position: absolute;
  bottom: 90px;
  right: 12px;
  width: 120px;
  height: 160px;
  border-radius: 10px;
  border: 2px solid white;
}

.mobile-controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background: rgba(0,0,0,0.8);
}

.mobile-controls button {
  color: white;
}

.mobile-controls .end {
  background: red;
}

.chat-drawer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #111;
  color: white;
}
